
.card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 5%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}